<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head  th:include="masters/BasicScripts::header">
    <meta charset="UTF-8"/>
    <title>客户列表</title>
</head>
<body>

    <div class="mod_load" id="mod_load" style="height: 652px;">
    <div class="mod_hd"> <h2 class="title">客户管理</h2>  </div>
    <div class="mod_bd">
        <div class="func_box">
            <div class="inpt_box"> <input type="text" data-value="输入公司名称/简称/联系人姓名/联系人手机号" value="输入公司名称/简称/联系人姓名/联系人手机号"/> </div>
            <div class="btn_box"> <button class="btn_green_m" data-name="info_CustomerManger_query"><i class="ico ico_bsearch"></i>搜索</button> </div>
            <a class="btn_add" data-type="user" data-name="info_CustomerManger_getCustomer" href="javascript:;"><i class="ico ico_badd"></i>添加客户</a>
        </div>
        <table class="layui-hide" id="dt"></table>
    </div>
    </div>
        <div style="text-align: center;color:#768082;position: fixed;bottom: 0;right:25px;">Power by FSC</div>
    <script>
layui.use('table', function(){
  var table = layui.table;

  table.render({
    elem: '#dt'
    ,url:'/custom/list'
    ,cols: [[
      {field:'cusId', width:80, title: 'ID', sort: true}
      ,{field:'cusShortname', minWidth:150, title: '客户简称'}
      ,{field:'cusName', title: '客户名称', sort: true}
      ,{field:'cusType', width:80, title: '客户级别'}
      ,{field:'cusContact', title: '联系人', width: 150}
      ,{field:'cusCreattime', width:80, title: '创建人', sort: true}
      ,{field:'cusPrice', width:80, title: '价格', sort: true}
      ,{field:'cusSign', width:80, title: '签约'}
      ,{field:'cusService', width:135, title: '销售/客服', sort: true}
      ,{field:'cusCreatman', width:135, title: '创建人', sort: true}
    ]]
    ,page: true
  });
});
</script>
</body>

</html>