<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>blank</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/juche/main.css}"/>
</head>
<body>
<div class="mod_containter">
    <div class="main">
        <div class="mode_head">
            <h2 class="title">订单管理</h2>
        </div>
        <div class="mod_nav">
            <ul>
                <li ><a href="/blank">待处理订单</a></li>
                <li class="on"><a href="/excuteOrderList">运行中</a></li>
                <li><a href="#order-2">核对订单</a></li>
                <li><a href="#">日程安排</a></li>
            </ul>
            <button>创建新订单</button>
        </div>
    </div>
    <div id="mod_mask" class="mod_mask">

    </div>
    <div class="mod_dialog">
        asdfadfsdf
        adsfasdfwerwer
    </div>

    <div style="text-align: center;color:#768082;position: fixed;bottom: 0;right:25px;">Power by FSC</div>
</div>
</body>
</html>